@page "{id:guid}"
@model OLI_it.Web.Pages.TopLab.IndexModel
@{
    ViewData["Title"] = "TopLab";
}

<div class="browse-container">
    <div class="entity-stack">
        @if (Model.Stamm != null)
        {
            @await Html.PartialAsync("_StammCard", Model.Stamm)
        }

        @if (Model.PostIt != null)
        {
            ViewData["StammGuid"] = Model.Stamm?.StammGuid.ToString() ?? "";
            @await Html.PartialAsync("_PostItCard", Model.PostIt)
        }

        @if (Model.TopLab != null)
        {
            ViewData["StammGuid"] = Model.Stamm?.StammGuid.ToString() ?? "";
            @await Html.PartialAsync("_TopLabCard", Model.TopLab)
        }
    </div>
</div>

